*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
*, *::before, *::after{
    box-sizing: border-box;
}
:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #f0f2f5;
    --text-color: #5f5f5f;
    /* --bg-color: #fff; */
    --primary-color: #edf2fc;
    --seconday-color: #212121;
}
body{
    background: var(--bg-color);
    color: var(--text-color);   
}

a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    display: block;
}